<div class="ui middle aligned divided list">
  <div class="item" *ngFor="let subscription of (subscriptions | async)">
    <div class="right floated content">
      <app-publisher-subscription-button
        [subscriptionId]="subscription?.user_subscription_id"
        [publisherId]="subscription?.publisher_id"
        [publisherType]="subscription?.publisher_type"
        [subscribed]="subscription?.subscribed">
      </app-publisher-subscription-button>
    </div>
    <div class="content">
      <a *ngIf="subscription.publisher_type == 'User'" [routerLink]="['/user', subscription.publisher_slug]">{{subscription.publisher_title}}</a>
      <a *ngIf="subscription.publisher_type == 'RssChannel'" [routerLink]="['/rss_channel', subscription.publisher_slug]">{{subscription.publisher_title}}</a>
    </div>
  </div>
</div>
