<div class="centred-form ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui blue image header">
      <div class="content">
        Password recovery
      </div>
    </h2>
    <form *ngIf="!success" class="ui large form" [class.error]="error" (ngSubmit)="onSubmit(form)" [formGroup]="form">
      <div class="ui stacked segment">
            <sm-loader [complete]="!isLoading" class="inverted" text="Loading..."></sm-loader>
            <div class="field">
              <div class="ui left icon input">
                <i class="at icon"></i>
                <input type="text" formControlName="email" name="email" placeholder="E-mail address">
              </div>
            </div>
            <sm-button class="fluid large primary submit {{isLoading ? 'loading' : ''}}" [disabled]="!form.valid">Send instructions</sm-button>
        <br/>
        <a routerLink="/auth/signin">Sign in</a>
        <div *ngIf="error" class="ui error message">
          <ul class="list">
            <li *ngFor="let msg of errors">{{msg}}</li>
          </ul>
        </div>
      </div>
    </form>
    <div *ngIf="success" class="ui stacked segment">
      <div class="ui success message">
        <div class="header center">
          <b>{{form.value.email}}</b>
        </div>
        <p>Please check your email for password reset instructions.</p>
      </div>
    </div>
  </div>
</div>
