<div class="centred-form ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui blue image header">
      <div class="content">
        Change password
      </div>
    </h2>
    <form *ngIf="!success" class="ui large form" [class.error]="error" (ngSubmit)="onSubmit(form)" [formGroup]="form">
      <div class="ui stacked segment">
        <sm-loader [complete]="!isLoading" class="inverted" text="Loading..."></sm-loader>
        <div class="field" [class.error]="errorsFields.password">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" formControlName="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="field" [class.error]="errorsFields.password_confirmation">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" formControlName="password_confirmation" name="password_confirmation" placeholder="Password confirmation">
          </div>
        </div>
        <sm-button class="fluid large primary submit {{isLoading ? 'loading' : ''}}" [disabled]="!form.valid">Change password</sm-button>
      </div>

      <div class="ui error message">
        <ul class="list">
          <li *ngFor="let msg of errors">{{msg}}</li>
        </ul>
      </div>
    </form>
    <div *ngIf="success" class="ui stacked segment">
      <div class="ui success message">
        <p>You have successfully changed password. Please <a routerLink="/auth/signin">Sign in</a>.</p>
      </div>
    </div>
  </div>
</div>
