<div class="centred-form ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui blue image header">
      <div class="content">
        Change password
      </div>
    </h2>
    <form class="ui large form" [class.error]="error" (ngSubmit)="onSubmit(form)" [formGroup]="form">
      <div class="ui stacked segment">
        <div class="field" [class.error]="errorsFields.email">
          <div class="ui left icon input">
            <i class="at icon"></i>
            <input type="email" disabled [value]="authService.currentUser.email" name="email">
          </div>
        </div>
        <div class="field" [class.error]="errorsFields.current_password">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" formControlName="current_password" name="current_password" placeholder="Current Password">
          </div>
          <div *ngIf="errorsFields.current_password" class="ui error message">
            <ul class="list">
              <li *ngFor="let msg of errorsFields.current_password">{{msg}}</li>
            </ul>
          </div>
        </div>
        <div class="field" [class.error]="errorsFields.password">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" formControlName="password" name="password" placeholder="Password">
          </div>
          <div *ngIf="errorsFields.password" class="ui error message">
            <ul class="list">
              <li *ngFor="let msg of errorsFields.password">{{msg}}</li>
            </ul>
          </div>
        </div>
        <div class="field" [class.error]="errorsFields.nickname">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="text" formControlName="password_confirmation" name="password_confirmation" placeholder="Password confirmation">
          </div>
          <div *ngIf="errorsFields.password_confirmation" class="ui error message">
            <ul class="list">
              <li *ngFor="let msg of errorsFields.password_confirmation">{{msg}}</li>
            </ul>
          </div>
        </div>
        <sm-button class="large primary submit {{isLoading ? 'loading' : ''}}" [disabled]="!form.valid">Save</sm-button>
      </div>
    </form>
  </div>
</div>
