/* You can add global styles to this file, and also import other style files */
body {
  background-color: #DADADA;
}
.centred-form .grid {
  height: 100%;
}
.centred-form .image {
  margin-top: -100px;
}
.centred-form .column {
  max-width: 450px;
}
