/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/purple-green.css';

body {
  background-color: #DADADA;
}
.grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}
